.container-home {
	background: linear-gradient(90deg, rgba(7,34,77,1) 0%, rgba(42,113,184,1) 63%, rgba(42,113,184,1) 100%);

	.box {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 30px;
		h1{
			margin: 0;
			color: #fccb40;
		}

		.ash {
			width: 115px;
		}

		.title {
			width: 500px;
		}
	}
}