.container-results {
	height: 100vh;
	background: linear-gradient(90deg, rgba(7, 34, 77, 1) 0%, rgba(42, 113, 184, 1) 63%, rgba(42, 113, 184, 1) 100%);

	.box-logo {
		display: flex;
		justify-content: center;
		padding-top: 14px;

		.logo {
			width: 150px;
		}
	}
	.box-results {
		max-width: 1002px;
		display: flex;
		width: 100%;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		width: 500px;
		background-color: #0c3b6b38;
		margin-top: 35px;
		border-radius: 10px;

		.card {
			width: 200px;
			height: 229px;
			background-color: white;
			border-radius: 10px;
			text-align: center;
			box-shadow: 0px 2px 7px 0px rgba(184, 175, 184, 1);

			.photo-pokemon {
				width: 189px;
			}

			.name-pokemon {
				color: #2a71b8;
				font-weight: bold;
			}
		}
		.box-img-results {
			padding-top: 54px;
			.img-results {
				width: 189px;
			}
		}

		hr {
			margin: 0px 0px 5px 0px;
		}
	}
}
